---
layout: default-page
title: Privacy Policy - 365 Days Calendar
permalink: /apps/365-days-calendar/privacy-policy/
subtitle: "Privacy Policy for 365 Days Calendar"
mobileAppName: "365 Days Calendar"
companyName: "Cyberdeploy Inc."
contactEmailOrAddress: "365dayscalendar@cyberdeploy.com"
---

<div class="home">
  <div class="entry-content">

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div>
            
            <h4>{{subtitle}}</h4>
<p>
    {{mobileAppName}}, created by {{companyName}}, is committed to protecting your privacy. This Privacy Policy outlines how we collect and use information when you use our mobile application. Please read this Privacy Policy carefully before using our mobile application.
</p>
<h4>Collection of Information</h4>
<p>
    {{mobileAppName}} does not collect any kind of personal information from its users. We do not collect any data about you, your device, or your use of our application.
</p>
<h4>Use of Information</h4>
<p>
    Since we do not collect any information about our users, we do not use any information.
</p>
<h4>Disclosure of Information</h4>
<p>
    Since we do not collect any information about our users, we do not disclose any information.
</p>
<h4>Security</h4>
<p>
    We understand the importance of security and have implemented measures to ensure that your personal information is protected. We use industry-standard security measures to protect your data from unauthorized access, modification, or disclosure.
</p>
<h4>Changes to Privacy Policy</h4>
<p>
    We may update this Privacy Policy from time to time to reflect changes in our practices or for other operational, legal, or regulatory reasons. We will notify you of any material changes to this Privacy Policy by posting the revised policy on our mobile application.
</p>
<h4>Contact Us</h4>
<p>
    If you have any questions about this Privacy Policy, please contact us at {{contactEmailOrAddress}}.
</p>
<p>
    By using {{mobileAppName}}, you agree to the terms of this Privacy Policy. If you do not agree with the terms of this Privacy Policy, please do not use our mobile application.
</p>


          </div>
        </div>
      </div>
    </div>


  </div>

</div>
