<!doctype html>
<html lang="en">
  <head>
    <title>{{#if title}}{{title}}{{else}}{{site.title}}{{/if}} - {{site.name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta charset="utf-8">
    <meta name="robots" content="noindex,nofollow">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <main>
      {{{content}}}
    </main>
  </body>
</html>
